body {
  background-image:url(http://www.w3cplus.com/demo/css3/loginform_rbbrt/bg.jpg);
/* Убрал цвет шрифта плагина меню*/
  color: black;
}
/* Стили бара vladmaxi, можно удалить */
.vladmaxi-top{
    zoom: 1.1;
	line-height: 24px;
	font-size: 11px;
	background: rgba(0, 0, 0, 0.05);
	text-transform: uppercase;
	z-index: 9999;
	position: fixed;
	top:0;
	left:0;
	width:100%;
	font-family: calibri;
	font-size: 13px;
	box-shadow: 1px 0px 2px rgba(0,0,0,0.2);
	-webkit-animation: slideOut 0.5s ease-in-out 0.3s backwards;
}
@-webkit-keyframes slideOut{
	0%{top:-30px; opacity: 0;}
	100%{top:0px; opacity: 1;}
}

.vladmaxi-top a{
	padding: 0px 10px;
	letter-spacing: 1px;
	color: #333;
	text-shadow: 0px 1px 1px #fff;
	display: block;
	float: left;
}
.vladmaxi-top a:hover{
	background: #fff;
}
.vladmaxi-top span.right{
	float: right;
}
.vladmaxi-top span.right a{
	float: left;
	display: block;
}
/*Увеличил размер кнопки меню*/
#menu_btn{
	font-weight: bolder;
	font-size: 18px;
	color: black;
}